
body {
    max-width: 800px;
    margin: auto;
}

.display-none {
    display:none;
}

.btn-group {
    width:100%;
}

.delete-list-button-span {
    float: right;
}

.delete-list-button:hover {
    box-shadow: 2px 2px 4px #888888;
}

.card-body:hover {
    cursor: pointer;
}

.list-action-active {
    color: black;
    background-color: white;
    border:none;
    border-radius: 0px;
    border-bottom: 1px solid #0d6efd;
    font-weight: bold;
}

.list-action-active:hover {
    background-color: white;
    color: black;
}

.list-item-done-checkbox {
    margin-right: 10px;
}

.list-item-done-checkbox:checked {
    background-color: forestgreen;
    border-color: black;
    color: black;
}

.unsub-button-span {
    float: right;
}

.unsub-button:hover {
    box-shadow: 2px 2px 4px #888888;
}


