

body {
    max-width: 800px;
    margin: auto;
}

.account-card-1 {
    border-bottom: 1px solid #CFCFCF;
}

.account-card-1:hover {
    cursor: default!important;
}

.account-card-2 {
    border-bottom: 1px solid #CFCFCF;
}

.account-card-2:hover {
    background-color: ghostwhite;

}

#delete-account-card:hover {
    background-color: ghostwhite;
}

::-webkit-scrollbar {
    display: none;
}

.brand-img-desktop {
    height: 100%;
    width: 40%;
}

.brand-img-mobile {
    height: 100%;
    width: 80%;
}

.custom-list-card-1 {
    box-shadow: 1px 1px 3px #888888;
}

.custom-list-card-2 {
    margin-bottom: -1px;
    border-radius: 0;
}

.last-item-card {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.custom-user-ul {
    border-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.display-none {
    display:none;
}

.btn-group {
    width:100%;
}

.delete-list-button-span {
    float: right;
}

.delete-list-button:hover {
    box-shadow: 2px 2px 4px #888888;
}

.card-body:hover {
    cursor: pointer;
}

.list-action {
    border: 1px solid #CFCFCF;
    border-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: dimgray;
}

.list-action-active {
    color: black;
    background-color: white;
    font-weight: bold;
}

.list-action-active:hover {
    background-color: white;
    color: black;
}

.list-item-done-checkbox {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.list-item-done-checkbox:checked {
    background-color: forestgreen;
    border-color: forestgreen;
}

.unsub-button-span {
    float: right;
}

.unsub-button:hover {
    box-shadow: 2px 2px 4px #888888;
}

.list-item-done-style {
    background-color: bisque;
}

.border-bottom-grey {
    border-bottom: 1px solid #CFCFCF;
}

.brand-img:hover {
    cursor: pointer;
}
