{% extends "list_companion/main_template.html" %}

{% load static %}

{% block title %}
    List Companion
{% endblock %}

{% block body %}

    <body>
        <div class="container">
            <h3 id="account-title">Account Management</h3>
            <div id="account-buttons-div">
                <p>Logged in as {{ account }}</p>
                <button class="btn btn-primary btn-sm" id="change-password-button">Change Password</button>
                <br>
                <button class="btn btn-primary btn-sm" id="change-email-button">Change Email</button>
                <br>
                <button class="btn btn-warning btn-sm" id="delete-account-button">Delete Account</button>
                </div>
            </div>
            <div id="message-div">
                {% if message %}
                    {{ message }}
                {% endif %}             
            </div>
        </div>

        <div class="container display-none" id="change-password-div">
            <h3>Change Password</h3>
            <form action="{% url 'change_password' %}" method="post" novalidate id="change-password-form">
                {% csrf_token %}
                {{ change_password_form }}
                <button type="submit" class="btn btn-primary">Submit</button>
                <button class="btn btn-secondary" id="change-password-cancel">Cancel</button>
            </form>
        </div>

        <div class="container display-none" id="change-email-div">
            <h3>Change Email</h3>
            <form action="{% url 'change_email' %}" method="post" novalidate id="change-email-form">
                {% csrf_token %}
                {{ change_email_form }}
                <button type="submit" class="btn btn-primary">Submit</button>
                <button class="btn btn-secondary" id="change-email-cancel">Cancel</button>
            </form>
        </div>

        <div class="container display-none" id="delete-account-div">
            <h3>Delete Account</h3>
            <form action="{% url 'delete_account' %}" method="post" novalidate id="delete-account-form">
                {% csrf_token %}
                {{ delete_account_form }}
                <button type="submit" class="btn btn-warning" id="delete-account-submit-button">Delete</button>
                <button class="btn btn-secondary" id="delete-account-cancel">Cancel</button>
            </form>
        </div>

    </body>

    <script src="{% static 'list_companion/account.js' %}"></script>

{% endblock %}