{% extends "list_companion/login_template.html" %}

{% load static %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <div class="container w-75">
        <body>
            <h2>Register</h2>
            {% if message %}
                <h2>{{ message }}</h2>
            {% endif %}
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                {{ register_form }}
                <button type="submit" class="btn btn-primary my-2">Register</button>
            </form>
            <a href="{% url 'login' %}">Already have an account? Log in here</a>
        </body>
    </div>
{% endblock %}